link(rel='alternate', href=x)
link(rel=rel, href=x)
link(rel='stylesheet', href=x)
link()&attributes({ rel: 'alternate', href: x })
link()&attributes({ rel: rel, href: x })
link()&attributes({ 'rel': 'stylesheet', 'href': x })
